body {
	background-image: url(fon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	background-attachment: fixed;
}

header {
	position: fixed;
	top: 0;
	z-index: 100000;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	padding: 0.3rem;
}

.sarlavha {
	text-align: center;
	color: #efefef;
	cursor: pointer;
	animation: anim 20s infinite;	
}

@keyframes anim{
	0% {
		text-shadow: 0 0 25px #35c1fc,
					 0 0 25px #35c1fc,
					 0 0 25px #35c1fc,
					 0 0 25px #35c1fc;
	}
	25% {
		text-shadow: 0 0 25px #4500fb,
					 0 0 25px #4500fb,
					 0 0 25px #4500fb,
					 0 0 25px #4500fb;
	}
	50% {
		text-shadow: 0 0 25px #fb00f7,
					 0 0 25px #fb00f7,
					 0 0 25px #fb00f7,
					 0 0 25px #fb00f7;
	}
	75% {
		text-shadow: 0 0 25px #00e5fb,
					 0 0 25px #00e5fb,
					 0 0 25px #00e5fb,
					 0 0 25px #00e5fb;
	}
	100% {
		text-shadow: 0 0 25px #cb00fb,
					 0 0 25px #cb00fb,
					 0 0 25px #cb00fb,
					 0 0 25px #cb00fb;
	}
}

.nav {
	width: 90%;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	padding: 0.3rem;
}

.nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

.nav ul li svg {
	width: 50px;
	height: 50px;
	fill: #efefef;
	transition: 0.5s;
}

.nav ul li svg:hover {
	fill: #144486;
}

.rek {
	width: 100%;
	height: auto;
	margin-top: 100px;
}

.video {
	width: 50vw;
	height: 50vh;
	background: #000;
	margin: 30px auto;
	box-shadow: 0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486;
}

.audio {
	width: 50vw;
	display: block;
	margin: 30px auto;
	box-shadow: 0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486;
	border-radius: 30px;
}

.rasm {
	width: 50vw;
	height: auto;
	margin: 30px auto;
	display: block;
	box-shadow: 0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486;
}

.container {
	display: grid;
	background: rgba(0, 0, 0, 0.7);
	padding: 0.5rem;
	margin: 30px auto;
	width: 90%;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486;
}

.container a {
	width: 150px;
	margin: 5px auto;
	padding: 0.4rem;
	border-radius: 20px;
	background: #000;
	box-shadow: 0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486,
				0 0 20px #144486;
	transition: 0.5s;
}

.container a:hover {
	background: orange;
	box-shadow: 0 0 20px orange,
				0 0 20px orange,
				0 0 20px orange,
				0 0 20px orange;
}

.container a svg {
	fill: #efefef;
	transition: 0.5s;
	width: 50px;
	height: 50px;
}

.container a svg:hover {
	fill: #144486;
}
/* RESPONSIV PLANSHET UCHUN */

@media (max-width: 600px) {
	header {
		padding: 0.7rem 0.3rem;
}

	.sarlavha {
		font-size: 2rem;
	}
	.nav {
		padding: 0.7rem;
	}
	
	.video {
		width: 70vw;
	}
	
	.audio {
		width: 70vw;
	}
	
	.rasm {
		width: 70vw;
	}
	
	.container {
		padding: 0.3rem;
	}
	
	.container a {
		width: 100px;
		transition: 0.5s;
	}
	
}

@media (max-width: 400px) {
	header {
		padding: 0.2rem;
	}
	.nav {
		padding: 0.2rem;
	}
	
	.nav ul {
		padding: 0;
	}


	.nav ul li svg {
		width: 40px;
		height: 40px;
	}
	
	.video, .audio, .rasm {
		width: 85vw;
		border: radius 30px;
	}
	
	.container {
		padding: 0.1rem;
		width: 100%;
		box-shadow: none;
		
	}
	
	.container a {
		width: 30px;
		margin: 10px auto;
	}
	
	.container a svg {
		width: 20px;
		height: 20px;
	}
	
}